[Unit]
Description=oknemoff.ru
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/oknemoff
Environment=NODE_ENV=production
Environment=PORT=3000
Environment=HOSTNAME=127.0.0.1
EnvironmentFile=-/var/www/oknemoff/.env
ExecStart=/usr/bin/node server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
